@media only screen and (min-width: 32.5rem) {
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 15px;
    }
}    
        
        /*
        display: grid;
        grid-gap: 7px;
        grid-template-areas:
            "header" "header"
            "visualhierarchy" ".hickslaw"
            ".fittslaw"
            "footer" "footer"; 
    }

} */
