@media only screen and (min-width: 32.5rem) {
    .wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        width: 100%;
        max-width: 760px;
    }

    .visualhierarchy { 
        grid-area: 1 / 1 / 2 / 2;
        width: 95%;
    }
    .hickslaw { 
        grid-area: 1 / 2 / 2 / 3; 
        width: 95%;
    }

    .fittslaw {

        grid-area: 2 / 1 / 3 / 2; 
        width: 95%;
    }

}    
        
        /*
        display: grid;
        grid-gap: 7px;
        grid-template-areas:
            "header" "header"
            "visualhierarchy" ".hickslaw"
            ".fittslaw"
            "footer" "footer"; 
    }

} */
