@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    text-align: center;
}

header {
    background-color: #6495ED;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: #FAEBD7;
    font-family: 'Lora', serif;;
}

header nav ul li a:active {
    background-color: #DEB887;
  }

header nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

header h1 a {
    text-decoration: none;
    color: #FAEBD7;
    font-family: 'Lora', serif;
}

main {
    background-color: #FAEBD7;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

a:active {
    color: #DEB887;
}

a:hover {
    text-decoration: underline;
}

article h2 a {
    color: black;
    text-decoration: none;
}

article h2 a:active {
    color: #DEB887;
}

article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}