main {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

picture img {
    border: 1px solid;
    filter: blur(0.2em);
    transition: filter 1s;
}

img[data-src] {
    filter: blur(0.2em);
}



