body {
    background-color: rgb(223, 223, 223);
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(196, 240, 225);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'Merriweather', serif;
}

header img {
    width: 40px;
    height: auto;
    margin: 2%;
}

h1 h2 h3 {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
}

#preston {
    display: flex;
    justify-content: center;

}

.hero img{
    background-color: rgb(196, 240, 225);
    padding: 0 0;
    display: flex;
    max-width: 100%;
    height: auto;
}

.hero h3 {
    justify-content: center;
}

.summarybox {
    align-items: center;
    list-style-type: none;
    background-color:rgb(250, 194, 184);
    display: grid;
    justify-content: center;
}

.summarybox h3 {
    display:flex;
    align-items: center;
}

.wslist {
    list-style-type: none;
}

.wshead {
    margin-top: 0;
    margin-bottom: 0;
}

.articleimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article h3 {
    display: flex;
    justify-content: center;
}

.map {
    padding: 0 0;
    display: flex;
    max-width: 100%;
    height: auto;
}

.fiveday {
    background-color: rgb(196, 240, 225);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'Merriweather', serif;
    padding: 0 0;
    max-width: 100%;
    height: auto;
}

.forecasthead {
    display: flex;
    justify-content: center;
    background-color: rgb(196,240, 225);
    margin-top:5px;
    margin-bottom: 0;
}

.fdfb {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.dow {
    display: flex;
    justify-content: center;
}

.temp {
    display: flex;
    justify-content: center;
}

footer {
    background-color:rgb(196, 240, 225);
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    flex-wrap: wrap;
    flex-direction: column;
}

#address {
    display: flex;
justify-content:center;
    height: auto;
}

.contactlist {
    text-decoration: none;
    list-style: none;
    display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
	max-width: 760px;
}

.map {
    margin: 10px;
}

.headings {
    display: flex;
    flex-direction: column;
}

.motto {
    font-style: italic;
}

.pancake {
    display: none;
    align-content: center;
    border: 2px solid rgb(0, 0, 0);
    color:ivory;
    background-color:grey;
    display: flex;
    justify-content: center;
    text-align: center;
}


nav {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
	max-width: 760px;
	background-color: rgb(250, 194, 184);
    display: flex;
    justify-content: center;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}