body {
    background-color: #a09e9e;
}

header h1 {
    background-color: #197278;
    color: #EDDDD4;
    text-align: center;
    font-size: 30px;
    font-family:  'Castoro', serif;
}

.active {
    color: black;
}

.heroimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 0px;
    padding-bottom: 0px;
}
  
nav {
    background-color: #C44536;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;;
}

nav li {
    display: inline;
    padding: 1rem;   
}

nav a:hover {
    color: black;
}

.upcoming h3, h4 {
    color: #EDDDD4;
}

.history {
    text-align: center;
}

.demographic {
    text-align: center;
    margin: 1%;
}

.demographic h2 {
    color:#EDDDD4;
}

.demographic ul li {
    list-style-type: none;
}

.scenery h2 {
    color: #EDDDD4;
}

.cta a input {
    background-color: #C44536;
    margin: 5%;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.contactinfo h4 a {
    color: #EDDDD4;
}

.contactinfo h3 {
    color: #EDDDD4;
}
  
li a {
      color: #EDDDD4;
    font-size: 25px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

h2 {
    background-color: darkslategray;
    color: #283D3B;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    max-width:50%;
    margin: 0 auto;
    margin-bottom: 1%;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

  
p {
    font-size: 16px;
    font-family: 'Nunito', serif;
}

strong a {
    color:#EDDDD4;
}

.atfoot {
    color:#EDDDD4;
}
  
footer {
    background-color: #197278;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
  
footer h3 {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

  
.threeday {
    align-items: center;
    list-style-type: none;
    background-color: darkslategray;
    display: grid;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
}

.threeday h3 {
    color: #EDDDD4;
}

.wslist {
    list-style-type: none;
    text-align: center;
}

.wshead {
    margin: 0%;
    text-align: center;
}

.companyheader h2 {
    color: #EDDDD4;
}

.cta {
    text-align: center;
}
  
.purpose p {
    text-align: center;
}

.purpose h2 {
    color: #EDDDD4;
}

.imgcontainer {
    margin: 0 auto;
    text-align: center;
}