@media only screen and (min-width: 32.5em) {
    header img {
        width: 60px;

    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	.summarybox {
		position: absolute;
		top:300px;
	  }
	  aside {
		  float: left;
		}
	  div.content {
		  margin-left: 0;
		}

		.heroimage {
			display: flex;
			align-content: flex-start;
		}
		
		.summarybox{
			position: absolute;
			opacity: 0.8;
			top: 295px;
			left: 20px;
			box-shadow: 3px 0 5px 3px #6e6464;
			display: grid;
			grid-template-columns: 1fr;
			padding: 0.5rem 0 0 1rem;
			background-color: rgb(250, 194, 184);
		}
		
		.wshead {
			margin-top: 0;
			margin-bottom: 0;
		}
		
		.wslist {
			list-style-type: none;
			padding-left: 0;
			padding-right: 3%;
		}
		
		.articleimg {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			
			padding: 0px 0px 0px 5px;
		}

}