@media only screen and (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-row-align: center;
        -ms-layout-grid: center;
    }
}