@media only screen and (min-width: 60em) {
    .summarybox{
        opacity: 0.8;
        top: 310px;
        box-shadow: 3px 0 5px 3px #6e6464;
        padding: 0.5rem 0 0 1rem;
        background-color: rgb(250, 194, 184);
    }
}